<!-- <bt-busca-processo></bt-busca-processo> -->

<form [formGroup]="pesquisarProcessoForm" (ngSubmit)="pesquisarProcesso()">
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="numeroProcesso">Número do processo</label>
            <input id="numeroProcesso" class="form-control" formControlName="NumeroProcessoPesquisa"  onkeyup="this.value=this.value.replace(/[^\d]/,'')" required>
        </div>
        <div class="form-group col-md-1" style="margin-top: 30px;">
            <button type="submit" class="btn btn-primary">Pesquisar</button>
        </div>
        <div class="form-group col-md-2" style="margin-top: 30px;">
            <button type="button" class="btn btn-success" (click)="carregarProcessos()">Ver todos</button>
        </div>
    </div>
    
</form>

<table id="tblProcessos" class="table table-striped table-bordered">
    <thead>
        <tr>
            
            <th>Número do processo</th>
            <th>Valor da causa</th>
            <th>Escritório</th>
            <th>Nome do reclamante</th>
            <th>Data de inclusão</th>
            <th>Status do processo</th>
            <th>Status de compra</th>
            <th>Data da compra</th>
            <th>Editar</th>
            <th>Status</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of processos">           

            <td>{{p.numeroProcesso}}</td>
            <td>{{p.valorCausa | currency : 'R$'}}</td>
            <td>{{p.escritorio}}</td>
            <td>{{p.nomeReclamante}}</td>
            <td>{{p.dataInclusao}}</td>
            <td>{{p.flgAtivo ? "Ativo" : "Inativo"}}</td>
            <td>{{p.flgAprovado ? "Comprado" : "Pendente"}}</td>
            <td>{{p.dataCompra}}</td>
            <td *ngIf="p.flgAprovado">
                Processo comprado, não pode ser editado
            </td>

            <td *ngIf="!p.flgAprovado">
                <button class="btn btn-info btn-sm" (click)="abrirModal(p)">
                    <span class="bi bi-pencil-square"></span>
                    Editar
                </button>
            </td>

            <td *ngIf="p.flgAprovado">
                Processo comprado, status não pode ser alterado
            </td>

            <td *ngIf="!p.flgAprovado && p.flgAtivo">
                <button class="btn btn-danger btn-sm" (click)="alterarStatusProcesso(p.numeroProcesso, false)">
                    <span class="bi bi-x-square"></span>
                    Inativar
                </button>
            </td>

            <td *ngIf="!p.flgAprovado && !p.flgAtivo">
                <button class="btn btn-primary btn-sm" (click)="alterarStatusProcesso(p.numeroProcesso, true)">
                    <span class="bi bi-plus-square"></span>
                    Ativar
                </button>
            </td>

            <td *ngIf="!p.flgAprovado">
                <button class="btn btn-success btn-sm" (click)="aprovarProcesso(p.numeroProcesso, true)">
                    <span class="bi bi-check2-square"></span>
                    Aprovar
                </button>
            </td>
            <td *ngIf="p.flgAprovado">
                Processo comprado
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modalDetalheProcesso" tabindex="-1" role="dialog" aria-labelledby="modalDetalheProcessoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDetalheProcessoLabel">Editar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="processoForm" (ngSubmit)="editarProcesso()">
              <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="numeroProcesso">Número do processo</label>
                    <input id="numeroProcesso" class="form-control" formControlName="NumeroProcesso" readonly required>
                </div>
                <div class="form-group col-md-6">
                    <label for="valorCausa">Valor da causa</label>
                    <input id="valorCausa" class="form-control" formControlName="ValorCausa" step=".01" type="number" min="30001" required>
                </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="escritorio">Escritório</label>
                    <input id="escritorio" class="form-control" formControlName="Escritorio" minlength="1" maxlength="50" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="reclamante">Reclamante</label>
                    <input id="reclamante" class="form-control" formControlName="NomeReclamante" minlength="1" maxlength="100" required>
                  </div>
              </div>
              <button type="submit" class="btn btn-primary">Editar processo</button>
          </form>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
  </div>
