<!-- Toolbar -->
<bt-header></bt-header>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card" style="width: 18rem;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5yPdDBL3eniuO7NlQJoeLy6ReL6n3dSwNrg&usqp=CAU"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cadastro de processos</h5>
            <p class="card-text">Aqui você poderá criar novos processos informando número do processo, valor da causa,
              escritório e nome do reclamante</p>
            <a href="#" class="btn btn-primary">Ir</a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card" style="width: 18rem;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1N-GsnDaIqOesAsv4jN9JWG7eRdrL_VT9Gw&usqp=CAU"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Meus processos</h5>
            <p class="card-text">Aqui você terá uma listagem dos seus processos e poderá ativar/inativar e determinar compra</p>
            <a href="#" class="btn btn-primary">Ir</a>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- 
  <div class="card" style="width: 18rem;display: block;
  margin-left: auto;
  margin-right: auto ;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5yPdDBL3eniuO7NlQJoeLy6ReL6n3dSwNrg&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cadastro de processos</h5>
      <p class="card-text">Aqui você poderá criar novos processos informando número do processo, valor da causa, escritório e nome do reclamante</p>
      <a href="#" class="btn btn-primary">Ir</a>
    </div>
  </div> -->
</body>
