<div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imagens/criarProcesso.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cadastro de processos</h5>
          <p class="card-text">Aqui você poderá criar novos processos informando número do processo, valor da causa,
            escritório e nome do reclamante</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imagens/meusProcessos.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Meus processos</h5>
          <p class="card-text">Aqui você terá uma listagem dos seus processos e poderá ativar/inativar, determinar compra e editar</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/imagens/chat.jpg"
          class="card-img-top" alt="..." width="275" height="190">
        <div class="card-body">
          <h5 class="card-title">Chat</h5>
          <p class="card-text">Aqui você poderá interagir com outras pessoas através de um chat em tempo real, aproveite para avaliar as situações dos processos</p>
        </div>
      </div>
    </div>
  </div>